.faqs {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;

  .faq {
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    .faq-question {
      position: relative;
      font-size: 20px;
      padding-right: 80px;
      transition: all 0.3s ease;
    }

    .faq-question::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;

      background-image: url("../assets/arrow.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      // transition: all 0.3s ease;
    }

    .faq-answer {
      opacity: 0;
      max-height: 0;
      overflow-y: hidden;
      transition: all 0.3s ease;
      font-size: 15px;
    }

    &.open {
      .faq-question {
        margin-bottom: 15px;
      }

      .faq-answer {
        max-height: 1000px;
        opacity: 1;
      }

      ::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
