form {
  text-align: left;

  label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: left;

    .label-text {
      color: gray;
      cursor: text;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      transform: (translateY(-34px));
      transition: all 0.3s;
      outline: 0;
      border: none;
    }

    textarea {
      height: 20vh;
    }

    input,
    textarea {
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid #4a4a4a;
      color: lightblue;
      font-size: 36px;
      letter-spacing: -1px;
      outline: 0;
      padding: 5px 20px;
      text-align: center;
      transition: all 0.3s;
      width: 250px;

      &:focus {
        max-width: 100%;
        width: 400px;

        & + .label-text {
          color: #101010;
          font-size: 13px;
          transform: (translateY(-74px));
        }
      }
      &:not(:placeholder-shown) + .label-text {
        font-size: 13px;
        transform: (translateY(-74px));
      }
    }
  }

  button {
    background-color: red;
    border: 2px solid white;
    border-radius: 27px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: all 200ms;

    &:hover,
    &:focus {
      background-color: red;
      color: lightcoral;
      outline: 0;
    }
  }
}
